.card{
    /* background-color: bisque; */
    box-shadow: 0 0 10px 0;
    padding: 30px;
    width: 20%;
    text-align: center;
}

.img{
    padding: 10px;
    border: 1;
    border-radius: 50%;
}

.title{
    color: red;
    text-transform: uppercase;
}

.btn{
    color: white;
    background-color: blue;
}